@page "/hackaton/edit/{id:int}"

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal


<h3>HackatonEdit</h3>

@if(Hackaton is null)
{
    
    <p>Cargando ...</p>


}
else
{
    <HackatonForm @ref="HackatonForm" Hackaton="Hackaton" OnSubmit="Edit" ReturnAction="Return" />



}



@code {

    private Hackaton Hackaton;
    private HackatonForm HackatonForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<Hackaton>($"api/hackaton/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("hackatons");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Hackaton = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("api/hackaton", Hackaton);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            HackatonForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("/hackatons");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/hackatons");
    }
}
