@page "/teams/create"


@inject IRepository repository

@inject NavigationManager navigationManager

@inject SweetAlertService sweetAlertService



<h3>Crear Equipo</h3>

<TeamForm @ref="teamForm" Team="Team" OnSubmit="Create" ReturnAction="Return" />


@code {

    private Team Team = new();
    private TeamForm teamForm;



    private async Task Create()
    {

        var responseHttp = await repository.PostAsync("/api/teams", Team);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/teams");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/teams");
    }
}
