﻿@using Hackatones.Shared.Entities

@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>
<EditForm EditContext="editContext" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">

        <label>Nombre Equipo:</label>

        <div>
            <InputText width="10" @bind-Value="Team.TeamName" />
            <ValidationMessage For="@(()=>Team.TeamName)" />

        </div>

    </div>

    <div class="mb-3">
        <label>Fecha Registro:</label>
        <div>
            <InputDate width="10" @bind-Value="Team.registrationDate" />
            <ValidationMessage For="@(()=>Team.registrationDate)" />

        </div>

    </div>



    <div class="mb-3">
        <label>Numero de Miembros:</label>

        <div>
            <InputNumber width="10" @bind-Value="Team.numberMembers" />
            <ValidationMessage For="@(()=>Team.numberMembers)" />

        </div>
    </div>





    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" onclick="ReturnAction">Regresar</button>



</EditForm>



@code {


    private EditContext editContext = null;

    protected override void OnInitialized()
    {
        editContext = new(Team);
    }


    [EditorRequired]
    [Parameter]
    public Team Team { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]

    public EventCallback ReturnAction { get; set; }


    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formWasEdited = editContext.IsModified();

        if (!formWasEdited)
        {
            return;
        }

        if (FormPostedSuccessfully)
        {
            return;
        }

        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirm = !string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        context.PreventNavigation();
    }
  
}
